# Ignorar archivos de Excel
*.xls
*.xlsx
*.xlsm

# Ignorar documentos de Word
*.doc
*.docx

# Ignorar archivos de texto enriquecido
*.rtf

# Ignorar archivos de OpenDocument
*.odt
*.ods
*.odp

# Ignorar PDF
*.pdf
